@font-face {
font-family: CustomFont;
src: url('Dokument/fonts/Geostar/Geostar-Regular.ttf') format("truetype");
}

@font-face {
font-family: CustomFont2;
src: url('Dokument/fonts/Bokor/Bokor-Regular.ttf') format("truetype");
}

.text {
font-family: CustomFont2;
color: #ffa500;
text-align: center;
}

.text2 {
	font-family: CustomFont;
	color:#ee82ee;
	text-align: center;
}

.container { 
  height: 200px;
  position: relative; 
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
