body{
  background-image: url(Assets/Bilder/KeyboardBlue.png);
  background-repeat: no-repeat;
  background-size: 100.5vw;
}

@font-face {
font-family: CustomFont;
src: url('Assets/fonts/Geostar/Geostar-Regular.ttf') format("truetype");
}

@font-face {
font-family: CustomFont2;
src: url('Assets/fonts/Bokor/Bokor-Regular.ttf') format("truetype");
}

/*.text {
font-family: CustomFont;
color: #ffa500;
text-align: center;
}*/

.text{
color: white;
text-align: left;
transform: translateY(-1.5vw);
transform: translateX(0.5vw);
}

.text2 {
	/*font-family: CustomFont2;*/
	/*color:#ee82ee;*/
 text-align: left;
 transform: translateY(-1.5vw);
 transform: translateX(0.5vw);
 width: 50vw;
 color: white;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

button{
  background-color: yellow;
  border: none;
  position: absolute;
  transform: translate(-490%, -250%);
  top: 40%;
  left: 50%;
  font-size: 0.9vw;
  font-weight: bold;
  padding: 7px;
  width: 10vw;
}

button:hover{
  font-family: CustomFont2;
  background-color: red; 
  width: 10vw;
  height: 2vw;
  transform: translate(-490%, -220%);
}
